<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<select id="myselect" onchange="change_myselect(this.value)">
  <option value="">Choose an option:</option>
  <option value="cars">Cars</option>
  <option value="users">Users</option>
  <option value="bookings">Bookings</option>
</select>

<p id="demo"></p>
<script src="javascripts/index.js"></script>